<%= form_for @branch, :html => { :class => "form-horizontal branch" } do |f| %>

    <% if @branch.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@branch.errors.count, "error") %> prohibited this branch from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @branch.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@branch[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%= error_span(@branch[:phone]) %>
  </div>
  <div class="control-group">
    <%= f.label :city_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :city_id, City.get_cities, :class => 'form-control' %>
    </div>
    <%= error_span(@branch[:city_id]) %>
  </div>

<br>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            branches_path, :class => 'btn btn-default' %>

<% end %>
